:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: bold;
}

h4 {
  font-size: 1.25em;
  line-height: 1.1;
  font-weight: bold;
}

li {
  list-style-position: inside;
}